<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<div class="container">
    <form class="form-inline" action="/example" method="post">
        <div class="form-group">
            <label for="data">Data</label>
            <input type="text" class="form-control" name="data" id="data" placeholder="data"  value="<%= data %>">
        </div>
        <button type="submit" class="btn btn-default">Enviar Info</button>
    </form>
    <p class="bg-success">JSON = { <%= data %> }</p>
</div>

</body>
</html>